<h2>
{{name}}
<p>Your email is {{email}}</p>
</h2>
<p>State: {{address.state}}</p>
<p>City: {{address.city}}</p>
<p>Street: {{address.street}}</p>
<button (click)="toggleHobbies()">{{ showHobbies ? "Hide Hobbies" : "Show hobbies"}}</button>
<div *ngIf="showHobbies">
  <h3>Hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies; let i = index">
        {{hobby}} <button (click)="deleteHobby(i)">X</button>
      </li>
    </ul>
    <form (submit)="addHobby(hobby.value)">
      <label> Add Hobby: </label><br />
      <input type="text" #hobby /><br />
    </form>

</div>
<hr />
<form>
  <label> Name: </label><br />
  <input type="text" name="name" [(ngModel)]="name" /><br />
  <label> Email: </label><br />
  <input type="text" name="email" [(ngModel)]="email" /><br />
  <label> State: </label><br />
  <input type="text" name="address.state" [(ngModel)]="address.state" /><br />
  <label> City: </label><br />
  <input type="text" name="address.city" [(ngModel)]="address.city" />
</form>
<hr />
<h2>Posts</h2>
  <div *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
  </div>
